.App {
    --app-gap: 4vh;
    padding: var(--app-gap);
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    color: white;
}

.PrimaryContainer {
    height: 44vh;
    margin-bottom: var(--app-gap);
}

.SecondaryItemsContainer {
    display: grid;
    column-gap: var(--app-gap);
    height: 44vh;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
